<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @client.full_name %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= data_br(@client.birth_date) %>
</p>

<p>
  <strong>Profissão:</strong>
  <%= @client.job %>
</p>

<p>
  <strong>Início da Locação:</strong>
  <%= data_br(@client.location_init) %>
</p>

<p>
  <strong>Valor da Locação:</strong>
  <%= number_to_currency_br(@client.location_value) %>
</p>

<p>
  <strong>Número do Apartamento:</strong>
  <%= @client.apto_number %>
</p>

<p>
  <strong>Iptu:</strong>
  <%= number_to_currency_br(@client.iptu) %>
</p>

<%= link_to edit_client_path(@client), class:"btn btn-primary btn-circle" do %>
  <i class="fas fa-edit"></i>
<% end %> |
<%= link_to 'Back', clients_path %>
